{{ define "base/head" }}
<head>
  <title> {{ .Title }} | {{ .Settings.AppName }} </title>
  <meta charset="utf8">
  <meta type="description" value="{{ .Description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{.Settings.BaseURL}}public/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css" />
  <script src="{{.Settings.BaseURL}}public/js/flash.js"></script>
</head>
{{ end }}
