{{ define "main" }}
<div class="section medium">
  <div class="container">
    <h1 class="text-center text-huge"> <b>gosu!</b> </h1>
    <h2 class="text-center"> an <u>opensource</u>, <u>fast</u>, <u>go-powered</u> web rhythm game </h2>
  </div>
</div>
<div class="section medium">
  <div class="container cols">
    <div class="col-lg-3 col-md-4">
      <p> test </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <p> test </p>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <div class="card-header">
          Friends
        </div>
        <div>
          <div class="card-item">
            <i class="online"> ● </i>
            youngjinp20
          </div>
          <div class="card-item">
            <i class="offline"> ● </i>
            youngjinpark20
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4">
      <div class="card">
        <div class="card-header">
          Top Maps
        </div>
        <div>
          <div class="card-item">
            Hello
          </div>
          <div class="card-item">
            Hello
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
